<div id="addFood" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "views.static_pages.home.cart.add_to_cart" %></h4>
      </div>
      <div class="modal-body">
        <label for="amount"><%= t "views.static_pages.home.cart.amount" %></label>
        <input type="hidden" name="food_id">
        <button class="add-food" onclick="addFood();"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></button>
        <br>
        <input type="number" min="1" step="1" value="1" name="amount" class="form-control input-number">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
