<div class="container">
<h1 class="text-center"><%= t "views.layouts.header.list"%></h1>
  <div class="all-foods">
    <%= render partial: "static_pages/body_thumbnail", locals: {foods: @all_foods} %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @all_foods %>
  </div>
</div>
