<button class="js-push-button">Send a message</button>

<script type="text/javascript">
  (function() {
    $('.js-push-button').on("click", function onClick() {
      $.post("/push");
    });
  })();
</script>
<% if logged_in? && current_user.shipper? %>
  <%= render "employee_home_page" %>
<% else %>
  <%= render "customer_home_page" %>
<% end %>
