<li class="coment-food">
  <div id="comment-food">
    <div>
      <%= gravatar_for comment_food.user, 30 %>&nbsp;<%= link_to comment_food.user.name, comment_food.user %>
    </div>
    <hr>
    <div>
      <%= comment_food.content %>
    </div>
  </div>
</li>
