<div class="container">
  <% if User::CUSTOMER_OR_SHIPPER.include? @user.user_type %>
    <%= render "customer_and_shipper_profile" %>
  <% elsif @user.chef? %>
    <%= render "chef_profile" %>
  <% end %>
</div>
