<div class="container-fluid">
    <div class="row content" id="food-body">
      <div class="col-xs-6 col-md-2" >
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Việc tôi yêu cầu
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <a href="congviectoiyeucau.html">
                  All
                </a>
              </div>
              <div class="panel-body">New</div>
              <div class="panel-body">Inprogress</div>
              <div class="panel-body">Resolved</div>
              <div class="panel-body">Out Of Date</div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-6 col-md-10">
      <div class="row">
        <div class="col-xs-6 col-md-10">
          <ul class="list-inline">
            <li class="list-inline-item"><a><i class="fa fa-comment"></i>&nbsp;Binh Luan</a></li>
            <li class="list-inline-item"><a><i class="fa fa-camera"></i>&nbsp;Hinh anh</a></li>
            <li class="list-inline-item"><a><i class="fa fa-share-alt"></i>&nbsp;Chia se</a></li>
            <li class="list-inline-item"><a><i class="fa fa-phone"></i>&nbsp;Goi dien</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-md-8">
        <ul>
          <li>
            <div>
              <div style="background-color:lavenderblush;">asdfasdfasdf</div>
              <hr>
              <div style="background-color:red;">adfadsfdasdsfResize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.</div>
            </div>
          </li>
          <li>
            <div>
              <div style="background-color:lavenderblush;">asdfasdfasdf</div>
              <hr>
              <div style="background-color:red;">adfadsfdasdsfResize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-2" >
        Column 1<br>
       Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
      </div>
    </div>


    </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
