@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style-type: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#search-banner {
  width: 100%;
  margin-bottom: 0;
}

#header {
  margin-bottom: 0;
}

.input-group {
  width: 50%;
  margin: 0 auto;
}

#input-banner {
  margin-right: auto;
  margin-left: 80%;
  width: 100%;
  height: 70px;
  text-align: center;
}

#input-button {
  margin-left: 258%;
  height: 70px;
  width: 60px;
}

.form-login {
  position: relative;
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 0px;
  text-align: center;
  .modal-inline {
    display: inline;
    label {
      display: inline;
    }
  }
}

.login-inside {
  width: 400px;
}

.modal-content {
  max-width: 400px;
  max-height: 820px;
  margin: 0 auto 100px;
  padding: 45px;
}

#login-button {
  text-align: center;
}

.jumbotron {
  background-image: url("http://www.debatingeurope.eu/wp-content/uploads/2016/10/05_Food_for_thought_visual_ugly-food.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tab {
  display: inline-block;
}

a #login-modal:hover {
  cursor: pointer;
}

a #signup-modal:hover {
  cursor: pointer;
}

.pagination {
  visibility: hidden;
}

#food-header {
  img {
    height: 300px;
  }
  font-size: 1.25em;
}
#food-body{
  margin-left: 50.5px;
}
.micro-act-btns {
  overflow: hidden;
  clear: both;
  background: #fff;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.list-inline-item a {
  display: block;
  padding: 15px 10px;
  margin-left: 5px;
  font-size: 14px;
  color: #005d80;
  border-right: #F0F0F0 1px solid;
  border-bottom: none;
  text-align: center;
  /*float: left;*/
  width: 100%;
  font-weight: 700;
}
.col-md-8 ul {
  padding: 0;
}
.col-md-8 ul li {
  margin-bottom: 30px;
}

#comment-food {
  background: #FFFFFF;
  padding: 15px;
}
#comment-picture {
  padding: 20px;
}

#picture-comment {
  padding: 20px;
}
#show-food-body {
  padding-top: 50px;
  background: #eee;
}

.cart {
  button {
    background: none;
    border: none;
  }
}

.popover {
  max-width: 100%;
}

.add-food {
  background: none;
  border: none;
  color: #1F7AC9;
  margin-left: 55%;
}

.badge {
  background-color: red;
}
