<div class="slider" id="annoucements">
  <div class="container">
    <div class="col-xs-12">
      <div class="carousel slide vertical" id="myAnnoucements">
        <% if newest_annoucement.present? %>
        <div class="carousel-inner">
          <% newest_annoucement[0].pictures.each do |pic| %>
            <div class="item active">
              <%= image_tag pic.image_url :thumb %>
            </div>
          <% end %>
        </div>
        <% end %><!-- /.control-box -->
      </div><!-- /#myCarousel -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.container -->
</div>
