<div class="jumbotron">
   <form class="navbar-form navbar-left" action="#" id="search-banner">
     <div class="input-group" >
       <input type="text" class="form-control" placeholder=<%= t "views.layouts.search" %> name="search" id="input-banner">
       <div class="input-group-btn">
         <button class="btn btn-default" type="submit" id="input-button">
           <i class="glyphicon glyphicon-search"></i>
         </button>
       </div>
     </div>
   </form><br><br><br><br>
   <h1><%= t "views.layouts.slogan" %></h1>
</div>
